@layer base {

    /************************************
     *               FONTS              *
     ************************************/

    @font-face {
        font-family: 'Amiri';
        src: url('../public/fonts/Amiri-Bold.ttf');
    }

    @font-face {
        font-family: 'KFGQPC Uthman Taha Naskh';
        src: url('../public/fonts/KFGQPC-Uthman-Taha-Naskh-Regular.ttf');
    }

    @font-face {
        font-family: 'Tharujamaanu';
        src: url('../public/fonts/merged-300.woff2');
    }

    :root {
        :lang(dv-MV) {
            font-family: 'Tharujamaanu';
        }

        [lang=ar] {
            font-family: 'KFGQPC Uthman Taha Naskh';
        }

        .script-font {
            font-family: 'Amiri';
        }

        /************************************
         *               COLORS             *
         ************************************/

         /*
         Text
         Gray 7 or Gray 8 is recommended for body text. The soft color of Gray 7 naturally matches with a background. Therefore it is appropriate for a UI element with concrete function such as menu labels or buttons. If a content itself is emphasized as in content or headline, Gray 8 can make a clearly readable text.

         Background
         Generally background is in white, but if you want to switch modes or separate spaces, light gray such as Gray 0 or Gray 1 can be chosen. Gray 1 can seem a bit old-fashioned, but it is affordable for low-end devices and users who don’t have clear eyesight.When separating spaces with color over Gray 0 background, Gray 1 is useful.

         You can use darker background color to represent status change such as active, hover for elements like buttons. In this case, 2 levels darker than normal buttons are suggested.

         Stroke
         Stroke elements use Gray 3 and Gray 4. Gray 3 is affordable for strokes which divide compartments such as <hr>. Gray 4 is appropriate for strokes implying boundary of forms or buttons can be operated.

         Use Gray 2 when hinting a disabled status.

         Dark Theme
         The black background is often chosen along with the white text. At this point, the Gray 9 for background, Gray 7 for strokes and text can be in Gray 0, Gray 5, Gray 6.
         */

        --_gray-0: #f8f9fa;
        --_gray-1: #f1f3f5;
        --_gray-2: #e9ecef;
        --_gray-3: #dee2e6;
        --_gray-4: #ced4da;
        --_gray-5: #adb5bd;
        --_gray-6: #868e96;
        --_gray-7: #495057;
        --_gray-8: #343a40;
        --_gray-9: #212529;

        /************************************
         *            TYPOGRAPHY            *
         ************************************/

        --_font-size-00: .5rem;
        --_font-size-0: .75rem;
        --_font-size-1: 1rem;
        --_font-size-2: 1.1rem;
        --_font-size-3: 1.25rem;
        --_font-size-4: 1.5rem;
        --_font-size-5: 2rem;
        --_font-size-6: 2.5rem;
        --_font-size-7: 3rem;
        --_font-size-8: 3.5rem;

        --_font-line-height-00: .95;
        --_font-line-height-0: 1.1;
        --_font-line-height-1: 1.25;
        --_font-line-height-2: 1.375;
        --_font-line-height-3: 1.5;
        --_font-line-height-4: 1.75;
        --_font-line-height-5: 2;

        --_font-letterspacing-0: -.05em;
        --_font-letterspacing-1: .025em;
        --_font-letterspacing-2: .050em;
        --_font-letterspacing-3: .075em;
        --_font-letterspacing-4: .150em;
        --_font-letterspacing-5: .500em;
        --_font-letterspacing-6: .750em;
        --_font-letterspacing-7: 1em;

        /************************************
         *               SIZES              *
         ************************************/

        /* content sizes */
        --_size-header-1: 20ch;
        --_size-header-2: 25ch;
        --_size-header-3: 35ch;

        --_size-content-1: 20ch;
        --_size-content-2: 45ch;
        --_size-content-3: 60ch;

        /* relative sizes */
        --_size-1: .25rem;
        --_size-2: .5rem;
        --_size-3: 1rem;
        --_size-4: 1.25rem;
        --_size-5: 1.5rem;
        --_size-6: 1.75rem;
        --_size-7: 2rem;
        --_size-8: 3rem;
        --_size-9: 4rem;
        --_size-10: 5rem;
        --_size-11: 7.5rem;
        --_size-12: 10rem;
        --_size-13: 15rem;
        --_size-14: 20rem;
        --_size-15: 30rem;

        /* static sizes */
        --_size-px-1: 4px;
        --_size-px-2: 8px;
        --_size-px-3: 16px;
        --_size-px-4: 20px;
        --_size-px-5: 24px;
        --_size-px-6: 28px;
        --_size-px-7: 32px;
        --_size-px-8: 48px;
        --_size-px-9: 64px;
        --_size-px-10: 80px;
        --_size-px-11: 120px;
        --_size-px-12: 160px;
        --_size-px-13: 240px;
        --_size-px-14: 320px;
        --_size-px-15: 480px;

        /* fluid sizes */
        --_size-fluid-1: clamp(.5rem, 1vw, 1rem);
        --_size-fluid-2: clamp(1rem, 2vw, 1.5rem);
        --_size-fluid-3: clamp(1.5rem, 3vw, 2rem);
        --_size-fluid-4: clamp(2rem, 4vw, 3rem);
        --_size-fluid-5: clamp(4rem, 5vw, 5rem);
        --_size-fluid-6: clamp(5rem, 7vw, 7.5rem);
        --_size-fluid-7: clamp(7.5rem, 10vw, 10rem);
        --_size-fluid-8: clamp(10rem, 20vw, 15rem);
        --_size-fluid-9: clamp(15rem, 30vw, 20rem);
        --_size-fluid-10: clamp(20rem, 40vw, 30rem);

        /************************************
        *           BORDER RADIUS           *
        ************************************/

        --_radius-1: 2px;
        --_radius-2: 5px;
        --_radius-3: 1rem;
        --_radius-4: 2rem;
        --_radius-5: 4rem;
        --_radius-6: 8rem;

        /************************************
        *              EASING               *
        ************************************/

        --_ease-1: cubic-bezier(.25, 0, .5, 1);
        --_ease-2: cubic-bezier(.25, 0, .4, 1);
        --_ease-3: cubic-bezier(.25, 0, .3, 1);
        --_ease-4: cubic-bezier(.25, 0, .2, 1);
        --_ease-5: cubic-bezier(.25, 0, .1, 1);
        --_ease-in-1: cubic-bezier(.25, 0, 1, 1);
        --_ease-in-2: cubic-bezier(.50, 0, 1, 1);
        --_ease-in-3: cubic-bezier(.70, 0, 1, 1);
        --_ease-in-4: cubic-bezier(.90, 0, 1, 1);
        --_ease-in-5: cubic-bezier(1, 0, 1, 1);
        --_ease-out-1: cubic-bezier(0, 0, .75, 1);
        --_ease-out-2: cubic-bezier(0, 0, .50, 1);
        --_ease-out-3: cubic-bezier(0, 0, .3, 1);
        --_ease-out-4: cubic-bezier(0, 0, .1, 1);
        --_ease-out-5: cubic-bezier(0, 0, 0, 1);
        --_ease-in-out-1: cubic-bezier(.1, 0, .9, 1);
        --_ease-in-out-2: cubic-bezier(.3, 0, .7, 1);
        --_ease-in-out-3: cubic-bezier(.5, 0, .5, 1);
        --_ease-in-out-4: cubic-bezier(.7, 0, .3, 1);
        --_ease-in-out-5: cubic-bezier(.9, 0, .1, 1);
        --_ease-elastic-out-1: cubic-bezier(.5, .75, .75, 1.25);
        --_ease-elastic-out-2: cubic-bezier(.5, 1, .75, 1.25);
        --_ease-elastic-out-3: cubic-bezier(.5, 1.25, .75, 1.25);
        --_ease-elastic-out-4: cubic-bezier(.5, 1.5, .75, 1.25);
        --_ease-elastic-out-5: cubic-bezier(.5, 1.75, .75, 1.25);
        --_ease-elastic-in-1: cubic-bezier(.5, -0.25, .75, 1);
        --_ease-elastic-in-2: cubic-bezier(.5, -0.50, .75, 1);
        --_ease-elastic-in-3: cubic-bezier(.5, -0.75, .75, 1);
        --_ease-elastic-in-4: cubic-bezier(.5, -1.00, .75, 1);
        --_ease-elastic-in-5: cubic-bezier(.5, -1.25, .75, 1);
        --_ease-elastic-in-out-1: cubic-bezier(.5, -.1, .1, 1.5);
        --_ease-elastic-in-out-2: cubic-bezier(.5, -.3, .1, 1.5);
        --_ease-elastic-in-out-3: cubic-bezier(.5, -.5, .1, 1.5);
        --_ease-elastic-in-out-4: cubic-bezier(.5, -.7, .1, 1.5);
        --_ease-elastic-in-out-5: cubic-bezier(.5, -.9, .1, 1.5);
        --_ease-elastic-1: var(--_ease-elastic-out-1);
        --_ease-elastic-2: var(--_ease-elastic-out-2);
        --_ease-elastic-3: var(--_ease-elastic-out-3);
        --_ease-elastic-4: var(--_ease-elastic-out-4);
        --_ease-elastic-5: var(--_ease-elastic-out-5);

        /************************************
        *             ANIMATION             *
        ************************************/

        --_animation-fade-in: fade-in .5s var(--ease-3);
        --_animation-fade-in-bloom: fade-in-bloom 2s var(--ease-3);
        --_animation-fade-out: fade-out .5s var(--ease-3);
        --_animation-fade-out-bloom: fade-out-bloom 2s var(--ease-3);
        --_animation-scale-up: scale-up .5s var(--ease-3);
        --_animation-scale-down: scale-down .5s var(--ease-3);
        --_animation-slide-out-up: slide-out-up .5s var(--ease-3);
        --_animation-slide-out-down: slide-out-down .5s var(--ease-3);
        --_animation-slide-out-right: slide-out-right .5s var(--ease-3);
        --_animation-slide-out-left: slide-out-left .5s var(--ease-3);
        --_animation-slide-in-up: slide-in-up .5s var(--ease-3);
        --_animation-slide-in-down: slide-in-down .5s var(--ease-3);
        --_animation-slide-in-right: slide-in-right .5s var(--ease-3);
        --_animation-slide-in-left: slide-in-left .5s var(--ease-3);
        --_animation-shake-x: shake-x .75s var(--ease-out-5);
        --_animation-shake-y: shake-y .75s var(--ease-out-5);
        --_animation-shake-z: shake-z 1s var(--ease-in-out-3);
        --_animation-blink: blink 1s var(--ease-out-3) infinite;
        --_animation-float: float 3s var(--ease-in-out-3) infinite;
        --_animation-bounce: bounce 2s var(--ease-squish-2) infinite;
        --_animation-pulse: pulse 2s var(--ease-out-3) infinite;
    }
}

@keyframes fade-in {
  to { opacity: 1 }
}
@keyframes fade-in-bloom {
  0% { opacity: 0; filter: brightness(1) blur(20px) }
 10% { opacity: 1; filter: brightness(2) blur(10px) }
100% { opacity: 1; filter: brightness(1) blur(0) }
}
@keyframes fade-out {
  to { opacity: 0 }
}
@keyframes fade-out-bloom {
100% { opacity: 0; filter: brightness(1) blur(20px) }
 10% { opacity: 1; filter: brightness(2) blur(10px) }
  0% { opacity: 1; filter: brightness(1) blur(0) }
}
@keyframes scale-up {
  to { transform: scale(1.25) }
}
@keyframes scale-down {
  to { transform: scale(.75) }
}
@keyframes slide-out-up {
  to { transform: translateY(-100%) }
}
@keyframes slide-out-down {
  to { transform: translateY(100%) }
}
@keyframes slide-out-right {
  to { transform: translateX(100%) }
}
@keyframes slide-out-left {
  to { transform: translateX(-100%) }
}
@keyframes slide-in-up {
  from { transform: translateY(100%) }
}
@keyframes slide-in-down {
  from { transform: translateY(-100%) }
}
@keyframes slide-in-right {
  from { transform: translateX(-100%) }
}
@keyframes slide-in-left {
  from { transform: translateX(100%) }
}
@keyframes shake-x {
  0%, 100% { transform: translateX(0%) }
  20% { transform: translateX(-5%) }
  40% { transform: translateX(5%) }
  60% { transform: translateX(-5%) }
  80% { transform: translateX(5%) }
}
@keyframes shake-y {
  0%, 100% { transform: translateY(0%) }
  20% { transform: translateY(-5%) }
  40% { transform: translateY(5%) }
  60% { transform: translateY(-5%) }
  80% { transform: translateY(5%) }
}
@keyframes shake-z {
  0%, 100% { transform: rotate(0deg) }
  20% { transform: rotate(-2deg) }
  40% { transform: rotate(2deg) }
  60% { transform: rotate(-2deg) }
  80% { transform: rotate(2deg) }
}
@keyframes blink {
  0%, 100% {
    opacity: 1
  }
  50% {
    opacity: .5
  }
}
@keyframes float {
  50% { transform: translateY(-25%) }
}
@keyframes bounce {
  25% { transform: translateY(-20%) }
  40% { transform: translateY(-3%) }
  0%, 60%, 100% { transform: translateY(0) }
}
@keyframes pulse {
  50% { transform: scale(.9,.9) }
}
