@layer base {
    :root {
        --c-gray-0: #f8fafb;
        --c-gray-1: #f2f4f6;
        --c-gray-2: #ebedef;
        --c-gray-3: #e0e4e5;
        --c-gray-4: #d1d6d8;
        --c-gray-5: #b1b6b9;
        --c-gray-6: #979b9d;
        --c-gray-7: #7e8282;
        --c-gray-8: #666968;
        --c-gray-9: #50514f;
        --c-gray-10: #3a3a37;
        --c-gray-11: #252521;
        --c-gray-12: #121210;

        --c-red-0: #fff5f5;
        --c-red-1: #ffe3e3;
        --c-red-2: #ffc9c9;
        --c-red-3: #ffa8a8;
        --c-red-4: #ff8787;
        --c-red-5: #ff6b6b;
        --c-red-6: #fa5252;
        --c-red-7: #f03e3e;
        --c-red-8: #e03131;
        --c-red-9: #c92a2a;
        --c-red-10: #b02525;
        --c-red-11: #962020;
        --c-red-12: #7d1a1a;

        --c-pink-0: #fff0f6;
        --c-pink-1: #ffdeeb;
        --c-pink-2: #fcc2d7;
        --c-pink-3: #faa2c1;
        --c-pink-4: #f783ac;
        --c-pink-5: #f06595;
        --c-pink-6: #e64980;
        --c-pink-7: #d6336c;
        --c-pink-8: #c2255c;
        --c-pink-9: #a61e4d;
        --c-pink-10: #8c1941;
        --c-pink-11: #731536;
        --c-pink-12: #59102a;

        --c-purple-0: #f8f0fc;
        --c-purple-1: #f3d9fa;
        --c-purple-2: #eebefa;
        --c-purple-3: #e599f7;
        --c-purple-4: #da77f2;
        --c-purple-5: #cc5de8;
        --c-purple-6: #be4bdb;
        --c-purple-7: #ae3ec9;
        --c-purple-8: #9c36b5;
        --c-purple-9: #862e9c;
        --c-purple-10: #702682;
        --c-purple-11: #5a1e69;
        --c-purple-12: #44174f;

        --c-violet-0: #f3f0ff;
        --c-violet-1: #e5dbff;
        --c-violet-2: #d0bfff;
        --c-violet-3: #b197fc;
        --c-violet-4: #9775fa;
        --c-violet-5: #845ef7;
        --c-violet-6: #7950f2;
        --c-violet-7: #7048e8;
        --c-violet-8: #6741d9;
        --c-violet-9: #5f3dc4;
        --c-violet-10: #5235ab;
        --c-violet-11: #462d91;
        --c-violet-12: #3a2578;

        --c-indigo-0: #edf2ff;
        --c-indigo-1: #dbe4ff;
        --c-indigo-2: #bac8ff;
        --c-indigo-3: #91a7ff;
        --c-indigo-4: #748ffc;
        --c-indigo-5: #5c7cfa;
        --c-indigo-6: #4c6ef5;
        --c-indigo-7: #4263eb;
        --c-indigo-8: #3b5bdb;
        --c-indigo-9: #364fc7;
        --c-indigo-10: #2f44ad;
        --c-indigo-11: #283a94;
        --c-indigo-12: #21307a;

        --c-blue-0: #e7f5ff;
        --c-blue-1: #d0ebff;
        --c-blue-2: #a5d8ff;
        --c-blue-3: #74c0fc;
        --c-blue-4: #4dabf7;
        --c-blue-5: #339af0;
        --c-blue-6: #228be6;
        --c-blue-7: #1c7ed6;
        --c-blue-8: #1971c2;
        --c-blue-9: #1864ab;
        --c-blue-10: #145591;
        --c-blue-11: #114678;
        --c-blue-12: #0d375e;

        --c-cyan-0: #e3fafc;
        --c-cyan-1: #c5f6fa;
        --c-cyan-2: #99e9f2;
        --c-cyan-3: #66d9e8;
        --c-cyan-4: #3bc9db;
        --c-cyan-5: #22b8cf;
        --c-cyan-6: #15aabf;
        --c-cyan-7: #1098ad;
        --c-cyan-8: #0c8599;
        --c-cyan-9: #0b7285;
        --c-cyan-10: #095c6b;
        --c-cyan-11: #074652;
        --c-cyan-12: #053038;

        --c-teal-0: #e6fcf5;
        --c-teal-1: #c3fae8;
        --c-teal-2: #96f2d7;
        --c-teal-3: #63e6be;
        --c-teal-4: #38d9a9;
        --c-teal-5: #20c997;
        --c-teal-6: #12b886;
        --c-teal-7: #0ca678;
        --c-teal-8: #099268;
        --c-teal-9: #087f5b;
        --c-teal-10: #066649;
        --c-teal-11: #054d37;
        --c-teal-12: #033325;

        --c-green-0: #ebfbee;
        --c-green-1: #d3f9d8;
        --c-green-2: #b2f2bb;
        --c-green-3: #8ce99a;
        --c-green-4: #69db7c;
        --c-green-5: #51cf66;
        --c-green-6: #40c057;
        --c-green-7: #37b24d;
        --c-green-8: #2f9e44;
        --c-green-9: #2b8a3e;
        --c-green-10: #237032;
        --c-green-11: #1b5727;
        --c-green-12: #133d1b;

        --c-lime-0: #f4fce3;
        --c-lime-1: #e9fac8;
        --c-lime-2: #d8f5a2;
        --c-lime-3: #c0eb75;
        --c-lime-4: #a9e34b;
        --c-lime-5: #94d82d;
        --c-lime-6: #82c91e;
        --c-lime-7: #74b816;
        --c-lime-8: #66a80f;
        --c-lime-9: #5c940d;
        --c-lime-10: #4c7a0b;
        --c-lime-11: #3c6109;
        --c-lime-12: #2c4706;

        --c-yellow-0: #fff9db;
        --c-yellow-1: #fff3bf;
        --c-yellow-2: #ffec99;
        --c-yellow-3: #ffe066;
        --c-yellow-4: #ffd43b;
        --c-yellow-5: #fcc419;
        --c-yellow-6: #fab005;
        --c-yellow-7: #f59f00;
        --c-yellow-8: #f08c00;
        --c-yellow-9: #e67700;
        --c-yellow-10: #b35c00;
        --c-yellow-11: #804200;
        --c-yellow-12: #663500;

        --c-orange-0: #fff4e6;
        --c-orange-1: #ffe8cc;
        --c-orange-2: #ffd8a8;
        --c-orange-3: #ffc078;
        --c-orange-4: #ffa94d;
        --c-orange-5: #ff922b;
        --c-orange-6: #fd7e14;
        --c-orange-7: #f76707;
        --c-orange-8: #e8590c;
        --c-orange-9: #d9480f;
        --c-orange-10: #bf400d;
        --c-orange-11: #99330b;
        --c-orange-12: #802b09;

        --c-choco-0: #fff8dc;
        --c-choco-1: #fce1bc;
        --c-choco-2: #f7ca9e;
        --c-choco-3: #f1b280;
        --c-choco-4: #e99b62;
        --c-choco-5: #df8545;
        --c-choco-6: #d46e25;
        --c-choco-7: #bd5f1b;
        --c-choco-8: #a45117;
        --c-choco-9: #8a4513;
        --c-choco-10: #703a13;
        --c-choco-11: #572f12;
        --c-choco-12: #3d210d;

        --c-brown-0: #faf4eb;
        --c-brown-1: #ede0d1;
        --c-brown-2: #e0cab7;
        --c-brown-3: #d3b79e;
        --c-brown-4: #c5a285;
        --c-brown-5: #b78f6d;
        --c-brown-6: #a87c56;
        --c-brown-7: #956b47;
        --c-brown-8: #825b3a;
        --c-brown-9: #6f4b2d;
        --c-brown-10:#5e3a21;
        --c-brown-11:#4e2b15;
        --c-brown-12: #422412;

        --c-sand-0: #f8fafb;
        --c-sand-1: #e6e4dc;
        --c-sand-2: #d5cfbd;
        --c-sand-3: #c2b9a0;
        --c-sand-4: #aea58c;
        --c-sand-5: #9a9178;
        --c-sand-6: #867c65;
        --c-sand-7: #736a53;
        --c-sand-8: #5f5746;
        --c-sand-9: #4b4639;
        --c-sand-10:#38352d;
        --c-sand-11:#252521;
        --c-sand-12: #121210;

        --c-camo-0: #f9fbe7;
        --c-camo-1: #e8ed9c;
        --c-camo-2: #d2df4e;
        --c-camo-3: #c2ce34;
        --c-camo-4: #b5bb2e;
        --c-camo-5: #a7a827;
        --c-camo-6: #999621;
        --c-camo-7: #8c851c;
        --c-camo-8: #7e7416;
        --c-camo-9: #6d6414;
        --c-camo-10: #5d5411;
        --c-camo-11: #4d460e;
        --c-camo-12: #36300a;

        --c-jungle-0: #ecfeb0;
        --c-jungle-1: #def39a;
        --c-jungle-2: #d0e884;
        --c-jungle-3: #c2dd6e;
        --c-jungle-4: #b5d15b;
        --c-jungle-5: #a8c648;
        --c-jungle-6: #9bbb36;
        --c-jungle-7: #8fb024;
        --c-jungle-8: #84a513;
        --c-jungle-9: #7a9908;
        --c-jungle-10: #658006;
        --c-jungle-11: #516605;
        --c-jungle-12: #3d4d04;
    }
}
