@layer base {
    :root {
        --_gray-0: #f8fafb;
        --_gray-1: #f2f4f6;
        --_gray-2: #ebedef;
        --_gray-3: #e0e4e5;
        --_gray-4: #d1d6d8;
        --_gray-5: #b1b6b9;
        --_gray-6: #979b9d;
        --_gray-7: #7e8282;
        --_gray-8: #666968;
        --_gray-9: #50514f;
        --_gray-10: #3a3a37;
        --_gray-11: #252521;
        --_gray-12: #121210;

        --_red-0: #fff5f5;
        --_red-1: #ffe3e3;
        --_red-2: #ffc9c9;
        --_red-3: #ffa8a8;
        --_red-4: #ff8787;
        --_red-5: #ff6b6b;
        --_red-6: #fa5252;
        --_red-7: #f03e3e;
        --_red-8: #e03131;
        --_red-9: #c92a2a;
        --_red-10: #b02525;
        --_red-11: #962020;
        --_red-12: #7d1a1a;

        --_pink-0: #fff0f6;
        --_pink-1: #ffdeeb;
        --_pink-2: #fcc2d7;
        --_pink-3: #faa2c1;
        --_pink-4: #f783ac;
        --_pink-5: #f06595;
        --_pink-6: #e64980;
        --_pink-7: #d6336c;
        --_pink-8: #c2255c;
        --_pink-9: #a61e4d;
        --_pink-10: #8c1941;
        --_pink-11: #731536;
        --_pink-12: #59102a;

        --_purple-0: #f8f0fc;
        --_purple-1: #f3d9fa;
        --_purple-2: #eebefa;
        --_purple-3: #e599f7;
        --_purple-4: #da77f2;
        --_purple-5: #cc5de8;
        --_purple-6: #be4bdb;
        --_purple-7: #ae3ec9;
        --_purple-8: #9c36b5;
        --_purple-9: #862e9c;
        --_purple-10: #702682;
        --_purple-11: #5a1e69;
        --_purple-12: #44174f;

        --_violet-0: #f3f0ff;
        --_violet-1: #e5dbff;
        --_violet-2: #d0bfff;
        --_violet-3: #b197fc;
        --_violet-4: #9775fa;
        --_violet-5: #845ef7;
        --_violet-6: #7950f2;
        --_violet-7: #7048e8;
        --_violet-8: #6741d9;
        --_violet-9: #5f3dc4;
        --_violet-10: #5235ab;
        --_violet-11: #462d91;
        --_violet-12: #3a2578;

        --_indigo-0: #edf2ff;
        --_indigo-1: #dbe4ff;
        --_indigo-2: #bac8ff;
        --_indigo-3: #91a7ff;
        --_indigo-4: #748ffc;
        --_indigo-5: #5c7cfa;
        --_indigo-6: #4c6ef5;
        --_indigo-7: #4263eb;
        --_indigo-8: #3b5bdb;
        --_indigo-9: #364fc7;
        --_indigo-10: #2f44ad;
        --_indigo-11: #283a94;
        --_indigo-12: #21307a;

        --_blue-0: #e7f5ff;
        --_blue-1: #d0ebff;
        --_blue-2: #a5d8ff;
        --_blue-3: #74c0fc;
        --_blue-4: #4dabf7;
        --_blue-5: #339af0;
        --_blue-6: #228be6;
        --_blue-7: #1c7ed6;
        --_blue-8: #1971c2;
        --_blue-9: #1864ab;
        --_blue-10: #145591;
        --_blue-11: #114678;
        --_blue-12: #0d375e;

        --_cyan-0: #e3fafc;
        --_cyan-1: #c5f6fa;
        --_cyan-2: #99e9f2;
        --_cyan-3: #66d9e8;
        --_cyan-4: #3bc9db;
        --_cyan-5: #22b8cf;
        --_cyan-6: #15aabf;
        --_cyan-7: #1098ad;
        --_cyan-8: #0c8599;
        --_cyan-9: #0b7285;
        --_cyan-10: #095c6b;
        --_cyan-11: #074652;
        --_cyan-12: #053038;

        --_teal-0: #e6fcf5;
        --_teal-1: #c3fae8;
        --_teal-2: #96f2d7;
        --_teal-3: #63e6be;
        --_teal-4: #38d9a9;
        --_teal-5: #20c997;
        --_teal-6: #12b886;
        --_teal-7: #0ca678;
        --_teal-8: #099268;
        --_teal-9: #087f5b;
        --_teal-10: #066649;
        --_teal-11: #054d37;
        --_teal-12: #033325;

        --_green-0: #ebfbee;
        --_green-1: #d3f9d8;
        --_green-2: #b2f2bb;
        --_green-3: #8ce99a;
        --_green-4: #69db7c;
        --_green-5: #51cf66;
        --_green-6: #40c057;
        --_green-7: #37b24d;
        --_green-8: #2f9e44;
        --_green-9: #2b8a3e;
        --_green-10: #237032;
        --_green-11: #1b5727;
        --_green-12: #133d1b;

        --_lime-0: #f4fce3;
        --_lime-1: #e9fac8;
        --_lime-2: #d8f5a2;
        --_lime-3: #c0eb75;
        --_lime-4: #a9e34b;
        --_lime-5: #94d82d;
        --_lime-6: #82c91e;
        --_lime-7: #74b816;
        --_lime-8: #66a80f;
        --_lime-9: #5c940d;
        --_lime-10: #4c7a0b;
        --_lime-11: #3c6109;
        --_lime-12: #2c4706;

        --_yellow-0: #fff9db;
        --_yellow-1: #fff3bf;
        --_yellow-2: #ffec99;
        --_yellow-3: #ffe066;
        --_yellow-4: #ffd43b;
        --_yellow-5: #fcc419;
        --_yellow-6: #fab005;
        --_yellow-7: #f59f00;
        --_yellow-8: #f08c00;
        --_yellow-9: #e67700;
        --_yellow-10: #b35c00;
        --_yellow-11: #804200;
        --_yellow-12: #663500;

        --_orange-0: #fff4e6;
        --_orange-1: #ffe8cc;
        --_orange-2: #ffd8a8;
        --_orange-3: #ffc078;
        --_orange-4: #ffa94d;
        --_orange-5: #ff922b;
        --_orange-6: #fd7e14;
        --_orange-7: #f76707;
        --_orange-8: #e8590c;
        --_orange-9: #d9480f;
        --_orange-10: #bf400d;
        --_orange-11: #99330b;
        --_orange-12: #802b09;

        --_choco-0: #fff8dc;
        --_choco-1: #fce1bc;
        --_choco-2: #f7ca9e;
        --_choco-3: #f1b280;
        --_choco-4: #e99b62;
        --_choco-5: #df8545;
        --_choco-6: #d46e25;
        --_choco-7: #bd5f1b;
        --_choco-8: #a45117;
        --_choco-9: #8a4513;
        --_choco-10: #703a13;
        --_choco-11: #572f12;
        --_choco-12: #3d210d;

        --_brown-0: #faf4eb;
        --_brown-1: #ede0d1;
        --_brown-2: #e0cab7;
        --_brown-3: #d3b79e;
        --_brown-4: #c5a285;
        --_brown-5: #b78f6d;
        --_brown-6: #a87c56;
        --_brown-7: #956b47;
        --_brown-8: #825b3a;
        --_brown-9: #6f4b2d;
        --_brown-10:#5e3a21;
        --_brown-11:#4e2b15;
        --_brown-12: #422412;

        --_sand-0: #f8fafb;
        --_sand-1: #e6e4dc;
        --_sand-2: #d5cfbd;
        --_sand-3: #c2b9a0;
        --_sand-4: #aea58c;
        --_sand-5: #9a9178;
        --_sand-6: #867c65;
        --_sand-7: #736a53;
        --_sand-8: #5f5746;
        --_sand-9: #4b4639;
        --_sand-10:#38352d;
        --_sand-11:#252521;
        --_sand-12: #121210;

        --_camo-0: #f9fbe7;
        --_camo-1: #e8ed9c;
        --_camo-2: #d2df4e;
        --_camo-3: #c2ce34;
        --_camo-4: #b5bb2e;
        --_camo-5: #a7a827;
        --_camo-6: #999621;
        --_camo-7: #8c851c;
        --_camo-8: #7e7416;
        --_camo-9: #6d6414;
        --_camo-10: #5d5411;
        --_camo-11: #4d460e;
        --_camo-12: #36300a;

        --_jungle-0: #ecfeb0;
        --_jungle-1: #def39a;
        --_jungle-2: #d0e884;
        --_jungle-3: #c2dd6e;
        --_jungle-4: #b5d15b;
        --_jungle-5: #a8c648;
        --_jungle-6: #9bbb36;
        --_jungle-7: #8fb024;
        --_jungle-8: #84a513;
        --_jungle-9: #7a9908;
        --_jungle-10: #658006;
        --_jungle-11: #516605;
        --_jungle-12: #3d4d04;
    }
}
