@layer base, utilities;

:root {
    color-scheme: light dark;

    --gray-1: var(--_gray-1);
    --gray-2: var(--_gray-2);
    --gray-3: var(--_gray-3);
    --gray-4: var(--_gray-4);
    --gray-5: var(--_gray-5);
    --gray-6: var(--_gray-6);
    --gray-7: var(--_gray-7);
    --gray-8: var(--_gray-8);
    --gray-9: var(--_gray-9);

    --text-1-light: var(--gray-7);
    --text-2-light: var(--gray-8);

    --stroke-1-light: var(--gray-3);
    --stroke-2-light: var(--gray-4);

    --background-1-light: var(--gray-0);
    --background-2-light: var(--gray-1);

    --text-0-dark: var(--gray-0);
    --text-1-dark: var(--gray-6);
    --text-2-dark: var(--gray-5);

    --stroke-dark: var(--gray-7);

    --background-dark: var(--gray-9);

    --text-1: light-dark(var(--text-1-light), var(--text-1-dark));
    --text-2: light-dark(var(--text-2-light), var(--text-2-dark));
}

body {
    color: light-dark(var(--text-1-light), var(--text-1-dark));
    background-color: light-dark(var(--background-1-light), var(--background-dark));
    min-height: 100vh;
}

main {
    padding-inline: var(--_size-8);
}

#homepage {
    font-size: var(--_size-5);

    h1, h2, h3, h4, h5, h6 {
        font-size: var(--_size-5);
    }
}

header {
    text-align: center;
}

.homepage__headings {
    display: flex;
    gap: var(--_size-8);
}

.nav-links {
    summary {
        display: flex;
        padding-block: var(--_size-2);
        padding-inline: var(--_size-3);
        gap: var(--_size-6);
        border-radius: var(--_radius-1);
        transition: background-color 0.2s var(--_ease-in-3);
    }

    &:open > summary, summary:hover {
        background-color: light-dark(var(--gray-2), var(--gray-9));
    }

    ul {
        list-style-type: disc;
        li {
            background-color: light-dark(--var(--gray-));
        }
    }
}
