@layer tokens {
    :root {
        /************************************
         *            TYPOGRAPHY            *
         ************************************/

        --font-size-00: .5rem;
        --font-size-0: .75rem;
        --font-size-1: 1rem;
        --font-size-2: 1.1rem;
        --font-size-3: 1.25rem;
        --font-size-4: 1.5rem;
        --font-size-5: 2rem;
        --font-size-6: 2.5rem;
        --font-size-7: 3rem;
        --font-size-8: 3.5rem;

        --font-line-height-00: .95;
        --font-line-height-0: 1.1;
        --font-line-height-1: 1.25;
        --font-line-height-2: 1.375;
        --font-line-height-3: 1.5;
        --font-line-height-4: 1.75;
        --font-line-height-5: 2;

        --font-letterspacing-0: -.05em;
        --font-letterspacing-1: .025em;
        --font-letterspacing-2: .050em;
        --font-letterspacing-3: .075em;
        --font-letterspacing-4: .150em;
        --font-letterspacing-5: .500em;
        --font-letterspacing-6: .750em;
        --font-letterspacing-7: 1em;

        /************************************
         *               SIZES              *
         ************************************/

        /* content sizes */
        --size-header-1: 20ch;
        --size-header-2: 25ch;
        --size-header-3: 35ch;

        --size-content-1: 20ch;
        --size-content-2: 45ch;
        --size-content-3: 60ch;

        /* relative sizes */
        --size-1: .25rem;
        --size-2: .5rem;
        --size-3: 1rem;
        --size-4: 1.25rem;
        --size-5: 1.5rem;
        --size-6: 1.75rem;
        --size-7: 2rem;
        --size-8: 3rem;
        --size-9: 4rem;
        --size-10: 5rem;
        --size-11: 7.5rem;
        --size-12: 10rem;
        --size-13: 15rem;
        --size-14: 20rem;
        --size-15: 30rem;

        /* static sizes */
        --size-px-1: 4px;
        --size-px-2: 8px;
        --size-px-3: 16px;
        --size-px-4: 20px;
        --size-px-5: 24px;
        --size-px-6: 28px;
        --size-px-7: 32px;
        --size-px-8: 48px;
        --size-px-9: 64px;
        --size-px-10: 80px;
        --size-px-11: 120px;
        --size-px-12: 160px;
        --size-px-13: 240px;
        --size-px-14: 320px;
        --size-px-15: 480px;

        /* fluid sizes */
        --size-fluid-1: clamp(.5rem, 1vw, 1rem);
        --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
        --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
        --size-fluid-4: clamp(2rem, 4vw, 3rem);
        --size-fluid-5: clamp(4rem, 5vw, 5rem);
        --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
        --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
        --size-fluid-8: clamp(10rem, 20vw, 15rem);
        --size-fluid-9: clamp(15rem, 30vw, 20rem);
        --size-fluid-10: clamp(20rem, 40vw, 30rem);
    }
}
